{% extends 'master/master.html' %}

{% block 'title' %} Create Blog {% endblock %}

{% block 'content' %}
<div class="container">
     <h1>Create Blog</h1>
    <form method="post" enctype="multipart/form-data">

      <div class="input-group">
          <label for="title">Title</label>
          <br/>
          <input type="text" id="title" name="title" class="form-control">
      </div>
        <div class="input-group" style="margin-top:10px;">
          <label for="description">Description</label>
            <br/>
          <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
      </div>
        <label>Image</label>
        <input type="file" name="image">
        <br/>


        <select name="category" class="form-control">
            {% for c in category %}
            <option value="{{c.id}}">{{c.title}}</option>
            {% endfor %}
        </select>
        <br/>
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
{% endblock %}